.card {
  padding: 12px;
  border: solid 1px #ccc;
  border-radius: 6px;
  margin-bottom: 16px;

  h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
  }
}